<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/series">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>The Walking Dead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://br.web.img3.acsta.net/pictures/17/10/23/13/27/3957947.jpg"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2010 ‧ Terror ‧ 10 temporadas</p>
    <br />
    <p>Baseado na história em quadrinhos escrita por Robert Kirkman, este drama potente e visceral retrata a vida nos Estados Unidos pós-apocalíptico. Um grupo de sobreviventes, liderado pelo policial Rick Grimes, segue viajando em busca de uma nova moradia segura e distante dos mortos-vivos. A pressão para permanecerem vivos e lutarem pela sobrevivência faz com que muitos do grupo sejam submetidos às mais profundas formas de crueldade humana. Rick acaba descobrindo que o tão assustador desespero pela subsistência pode ser ainda mais fatal do que os próprios mortos-vivos que os rodeiam.</p>
    <p><strong>Transmissão original:</strong> 31 de outubro de 2010 – presente</p>
    <p><strong>Distribuída por:</strong> AMC</p>
  </div>
</ion-content>