<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/filmes">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Vingadores: Ultimato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMwtU95JygcmCq4e3XPpL9W0ATjGFoQCQm16dbpIp7BM36B7lH"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2009 ‧ Ficção científica/Ação ‧ 2h 42m</p>
    <br />
    <p>Após Thanos eliminar metade das criaturas vivas, os Vingadores têm de lidar com a perda de amigos e entes queridos. Com Tony Stark vagando perdido no espaço sem água e comida, Steve Rogers e Natasha Romanov lideram a resistência contra o titã louco.</p>
    <p><strong>Data de lançamento:</strong> 25 de abril de 2019 (Brasil)</p>
    <p><strong>Direção:</strong> Joe Russo, Anthony Russo</p>
    <p><strong>Bilheteria:</strong> 2,798 bilhões USD</p>
  </div>
</ion-content>