<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/filmes">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Titanic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSnlqsVl7LblkYNYK70vktuRDdWWIYx1n7-Y2JynPLyUfjtrE1b"></ion-img>
  <div class="corpo">
    <p class="subtitulo">1997 ‧ Romance/Drama ‧ 3h 15m</p>
    <br />
    <p>Um artista pobre e uma jovem rica se conhecem e se apaixonam na fatídica jornada do Titanic, em 1912. Embora esteja noiva do arrogante herdeiro de uma siderúrgica, a jovem desafia sua família e amigos em busca do verdadeiro amor.</p>
    <p><strong>Data de lançamento:</strong> 16 de janeiro de 1998 (Brasil)</p>
    <p><strong>Direção:</strong> James Cameron</p>
    <p><strong>Bilheteria:</strong> 2,187 bilhões USD</p>
  </div>
</ion-content>