<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/filmes">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Jurassic World</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgTM-4Yay8goHBSj0_N6Q8Wm-s5_nfAEmt2Nv77ZtaMgenONg7" height="10px"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2015 ‧ Aventura/Ficção científica ‧ 2h 4m</p>
    <br />
    <p>O Parque dos Dinossauros está aberto para visitação, e o público tem a chance de ver de perto as mais diversas espécies. Porém, um desses animais, resultado de experiência genética, desenvolve alta inteligência e se torna uma ameaça para todos.</p>
    <p><strong>Data de lançamento:</strong> 11 de junho de 2015 (Brasil)</p>
    <p><strong>Direção:</strong> Colin Trevorrow</p>
    <p><strong>Bilheteria:</strong> 1,67 bilhão USD</p>
  </div>
</ion-content>