<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/animes">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Death Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://upload.wikimedia.org/wikipedia/pt/thumb/c/c0/Death_Note_vol._01.jpg/200px-Death_Note_vol._01.jpg"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2006 ‧ Seinen ‧ 2 temporadas</p>
    <br />
    <p>Um inteligente estudante do ensino médio embarca em uma cruzada secreta para eliminar os criminosos do mundo depois de descobrir um caderno capaz de matar qualquer pessoa cujo nome está escrito nele.</p>
    <p><strong>Transmissão original:</strong> 4 de outubro de 2006 – 27 de junho de 2007</p>
    <p><strong>Estúdio:</strong> Madhouse</p>
    <p><strong>Número de episódios:</strong> 37</p>
  </div>
</ion-content>