<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/animes">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Tokyo Ghoul</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://img.elo7.com.br/product/zoom/1F2E1D3/big-poster-anime-tokyo-ghoul-tamanho-90x-0-cm-lo05-decoracao-nerd.jpg"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2014 ‧ Shōnen ‧ 4 temporadas</p>
    <br />
    <p>A história de Tokyo Ghoul gira em torno de Ken Kaneki, um estudante que mal sobrevive a um encontro mortal com Rize Kamishiro, uma mulher que se revela um ghoul; ghoul são criaturas semelhantes a humanos que caçam e devoram carne humana, com essa revelação Rize ataca Kaneki que é ferido gravemente, tentando fugir desesperadamente Rize o encurrala até que vários canos de metal caem em Rize aparentemente a matando, logo após isso Kaneki desmaia devido aos ferimentos e é levado para o hospital em estado critico</p>
    <p><strong>Transmissão original:</strong> 4 de julho de 2014 – 11 dezembro de 2018</p>
    <p><strong>Estúdio:</strong> Pierrot</p>
    <p><strong>Número de episódios:</strong> 48</p>
  </div>
</ion-content>