<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/series">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Rick and Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://m.media-amazon.com/images/I/51aRceSWyHL.jpg"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2013 ‧ Comédia ‧ 4 temporadas</p>
    <br />
    <p>Acompanhe malucas viagens no tempo-espaço e por universos paralelos com Rick, um cientista com problemas com a bebida, e seu neto Morty, um adolescente não tão brilhante quanto o avô.</p>
    <p><strong>Transmissão original:</strong> 2 de dezembro de 2013 – presente</p>
    <p><strong>Distribuída por:</strong> Adult Swim</p>
  </div>
</ion-content>