<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/animes">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Naruto Shippuden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/Naruto_-_Shippuden_DVD_season_1_volume_1.jpg/220px-Naruto_-_Shippuden_DVD_season_1_volume_1.jpg"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2007 ‧ Shōnen ‧ 21 temporadas</p>
    <br />
    <p>Naruto, um adolescente ninja, sonha em se tornar o Hokage de seu vilarejo.</p>
    <p><strong>Transmissão original:</strong> 15 de fevereiro de 2007 – 23 de março de 2017</p>
    <p><strong>Estúdio:</strong> Pierrot</p>
    <p><strong>Número de episódios:</strong> 500</p>
  </div>
</ion-content>