<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/series">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Breaking Bad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://br.web.img3.acsta.net/c_216_288/pictures/14/03/31/19/28/462555.jpg"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2008 ‧ Drama ‧ 5 temporadas</p>
    <br />
    <p>O professor de química Walter White não acredita que sua vida possa piorar ainda mais. Quando descobre que tem câncer terminal, Walter decide arriscar tudo para ganhar dinheiro enquanto pode, transformando sua van em um laboratório de metanfetamina.</p>
    <p><strong>Transmissão original:</strong> 20 de Janeiro de 2008 – 29 de Setembro de 2013</p>
    <p><strong>Distribuída por:</strong> Sony Pictures Television</p>
  </div>
</ion-content>