<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/series">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Game of Thrones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://br.web.img3.acsta.net/pictures/19/03/21/16/15/4239577.jpg"></ion-img>
  <div class="corpo">
    <p class="subtitulo">2011 ‧ Ação ‧ 8 temporadas</p>
    <br />
    <p>Famílias nobres e poderosas disputam um jogo mortal pelo controle dos Sete Reinos de Westeros para assumir o Trono de Ferro.</p>
    <p><strong>Transmissão original:</strong> 17 de abril de 2011 – 19 de maio de 2019</p>
    <p><strong>Distribuída por:</strong> HBO</p>
  </div>
</ion-content>