<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/series">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Os Simpsons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://lojasaraiva.vteximg.com.br/arquivos/ids/1620291/1002012359.jpg?v=637004470678130000"></ion-img>
  <div class="corpo">
    <p class="subtitulo">1989 ‧ Comédia ‧ 31 temporadas</p>
    <br />
    <p>O desenho gira em torno de uma família de Springfield. O pai, Homer, que não pode ser considerado um típico chefe de família, a dedicada matriarca Marge, com seu cabelo azul, e os filhos Bart, um encrenqueiro, a inteligente Lisa e a bebê Maggie.</p>
    <p><strong>Transmissão original:</strong> 17 de dezembro de 1989 – presente</p>
    <p><strong>Distribuída por:</strong> FOX</p>
  </div>
</ion-content>