<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      MinhaFlix
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img src="https://bn1305files.storage.live.com/y4pabn3iFYX01oCF95_nMDr6LHY3lf1HXYeRZM4-TtOUjU4ZgublOwAuEZCzyzsdw-7Dd-4s0ieCDz7L2C21_HUSCWc-VI3V8cJClre0xMZz5NZEOP0Uz--OZMi3wXBNTvIu7tkVc-Zeu0i16_WFziHTdLqLP6YsnzSJcSmDRNbZ5170RR_PbYUQw2s5Sgyg1HSu8bpkdSj14RqX6jeEIQkJpp0GIw5QMRvN_bq2vOfR3E/Logo-MinhaFlix.png?psid=1&width=200&height=240"></ion-img>
    <h1>Bem-vindo(a)!</h1>
  </div>
</ion-content>
<ion-button color="danger" expand="block" routerLink="/inicio">Começar</ion-button>